#body {
    min-height: 2000px;
    /* background-color: brown; */
}

#slider p {
    color: black;
}

#newsCard {
    /* height: 100; */
}

/* #newsCard Img {
    height: 200px;
    width: 200px;
} */

#footer {
    text-align: center;
    background-color: #314046;
    color: lightcyan;
    margin: 0;
    padding: 2px;
}

#social-media {
    background-color: #f6f6f6;
}

