#body {
    min-height: 2000px;
    /* background-color: brown; */
}

#slider p {
    color: black;
}

#newsCard {
    /* height: 100; */
}

/* #newsCard Img {
    height: 200px;
    width: 200px;
} */


