#slider p {
    color: black;
}



#footer {
    text-align: center;
    background-color: #314046;
    color: lightcyan;
    margin: 0;
    padding: 2px;
}

#social-media {
    background-color: #f6f6f6;
}
